<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link href="https://www.mineplex.com/assets/www-mp/img/favicon.ico" rel="icon">
    <title class="code" id="titleError">ERROR</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" th:href="@{/styles/css/error.css}" type="text/css"/>

    <script crossorigin="anonymous"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops!</h3>
            <h1><span>E</span><span>R</span><span>R</span><span>O</span><span>R</span></h1>
        </div>
        <h2>We could not process your request</h2>
    </div>
</div>

</body>
</html>
